    <mat-toolbar color="primary">
      <button
        type="button"
        mat-icon-button
        (click)="onMenuToggleDispatch()"
        aria-label="Toggle sidenav"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span>Book Store</span>

      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout="row" fxLayoutGap="10px" class="navegation-menu">
          @if (!isUserLogged) {
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/login">Login</a></li>
          }
          @else {
            <li><a routerLink="/">Home</a></li>
            <li (click)="singOut()"><a routerLink="/">Sing out</a></li>
          }

        </ul>
      </div>

    </mat-toolbar>
